body {
    /* background-image: url(../img/desingbg.png); */
    background-color: rgb(8, 120, 185);
    background-size: cover;
    background-position: bottom center;
    
}

main {
    float: left;
    width: 1100px;
    margin-left: calc((100% - 1200px) / 2);
    margin-top: 100px;
    background-color:#D3D0D0;
    text-align: center;
    background-size: cover;
    background-position: center bottom;
   

}
.logo {
    margin-top: 100px;
    width: 400px;
    height: 200px;
}
h1 {
    font-size: 100px;
    color: #ffffff;
    line-height: 80px;
    font-family: 'Kufam', cursive;
}
p {
    font-size: 50px;
    color: #ffffff;
    line-height: 30px;
    font-family: 'Kufam', cursive;
}
.text {
    font-size: 15px;
    color: #ffffff;
    background-color: #8C8C8C;
    margin-top: 19px;
    font-family: 'Kufam', cursive;
}
.texts {
    width: 100%;
    height: 130px;
    font-size: 13px;
    color: #ffffff;
    background-color: #595959;
    padding: 60px 0 30px 0;
    word-spacing: 15px;
    font-family: 'Kufam', cursive;
}
.texts a {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 11px;
    color: #ffffff;
    word-spacing: 1px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: #595959;
    line-height: 10px;
}
weather {
    color: blue;
    /* position: relative; */
    /* overflow: hidden; */
}